<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="../static/css/core.css" rel="stylesheet" type="text/css" th:href="@{/css/core.css}" />
		<script type="text/javascript" th:src="@{/js/challenge.js}"></script>
		<title>Serviço de ordenação</title>
	</head>
	<body>
		<p style="color: red" th:if="${erro != null}" th:text="${erro}">dsa</p>
		
		<label class="lb-id">#</label>
		<label class="lb-titulo">Titulo</label>
		<label class="lb-author">Author</label>
		<label class="lb-edition-year">Edition Year</label>
		
		<form name="f" th:action="@{/ordenar}" method="post">
		<div class="servico-de-ordenacao" id="servico-de-ordenacao">
			<script>addLivro();</script>
			
		</div>
			<div class="input">
				<button class="btn-novo-livro" type="button" onclick="addLivro()">Novo Livro</button>			
			</div>
			<button class="btn-enviar" type="submit">Enviar</button>
		</form>
	</body>
</html>